.git
.env
vendor
node_modules
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
storage/logs/*.log
public/hot
public/storage
tests
phpunit.xml
.vscode
.idea
.dockerignore
Dockerfile
nginx.conf
